body {
  margin: 0;
  padding: 0;
}

.header {
  padding: 10px;
}

.container {
  max-width: 900px;
  height: auto;
  border: 1px solid black;
  margin: 0 auto;
}

.container2 {
  display: flex;
  max-width: 900px;
  height: auto;
  border: 1px solid black;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.nav ul li {
  display: inline-block;
  /* justify-content: space-between; */
}

.cards {
  width: 50px;
  height: 100px;
  background-color: aquamarine;
  margin: 5px 5px 5px 5px;
  align-items: center;
  text-align: center;
}

.cards__field {
  display: flex;
}
